.whatsAppIcon{
    position: fixed;
    bottom: 50px;
    right: 15px;
    width: 75px;
    height: 75px;
}
.freeTransContainer{
    position: fixed;
    bottom: 150px;
    right: 15px;
    border-radius: 15px !important;
}
.bg-colored{
       background-color: #1b90c6;
}

.cricledIcon{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

html[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

html[dir="ltr"] {
  direction: ltr;
  text-align: left;
}


@media screen and (width>768px) {
    nav a{
    position: relative;
    color: #1b90c6;
}
nav a::after{
    position: absolute;
    left: 0%;
    bottom: -5px;
    content: "";
    height: 2px;
    width: 0;
    background-color: #1b90c6;
    /* transform: translateX(-50%); */
    transition: all 0.3s;
}

nav a:hover::after{
    width: 100%;
}
}